<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Person</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <a href="../../index.html">
          <img src="../img/logoprueba.png" alt="DataHub Logo" />
        </a>
      </div>
      <ul>
        <li><a href="crear_persona.html">Create Person</a></li>
        <li><a href="editar_persona.html">Modify Person Data</a></li>
        <li><a href="consultar_persona.html">Consult Person Data</a></li>
        <li><a href="borrar_persona.html">Delete Person</a></li>
        <li><a href="log_persona.html">Consult Log</a></li>
      </ul>
    </div>
    <div class="container">
      <h1>Create Person</h1>
      <form
        id="crearPersonaForm"
        action="http://localhost:8000/create/"
        method="post"
        enctype="multipart/form-data"
      >
        <div>
          <label for="tipoDocumento">Document type:</label>
          <select id="tipoDocumento" name="tipoDocumento" required>
            <option value="Tarjeta de identidad">Identity Card</option>
            <option value="Cedula">Cedula</option>
          </select>
        </div>
        <div>
          <label for="numeroDocumento">Document number:</label>
          <input
            type="text"
            id="numeroDocumento"
            name="numeroDocumento"
            maxlength="10"
            minlength="1"
            pattern="^[0-9]{1,10}$"
            title="Max 10 numbers"
            placeholder="Document number"
            required
          />
        </div>
        <div>
          <label for="primerNombre">First name:</label>
          <input
            type="text"
            id="primerNombre"
            name="primerNombre"
            pattern="^[A-Za-zñÑ][A-Za-zñÑ\s]{0,29}$"
            title="Máx 30 characters"
            maxlength="30"
            minlength="1"
            placeholder="First name"
            required
          />
        </div>
        <div>
          <label for="segundoNombre">Second name:</label>
          <input
            type="text"
            id="segundoNombre"
            name="segundoNombre"
            maxlength="30"
            minlength="1"
            pattern="^[A-Za-zñÑ][A-Za-zñÑ\s]{0,29}$"
            title="Máx 30 characters"
            placeholder="Second name (optional)"
          />
        </div>
        <div>
          <label for="apellidos">Last name:</label>
          <input
            type="text"
            id="apellidos"
            name="apellidos"
            maxlength="60"
            minlength="1"
            pattern="^[A-Za-zñÑ][A-Za-zñÑ\s]{0,59}$"
            title="Máx 60 characters"
            placeholder="Lastname"
            required
          />
        </div>
        <div>
          <label for="fechaNacimiento">Birth date:</label>
          <input
            type="date"
            id="datepicker"
            name="fechaNacimiento"
            placeholder="Select or write a date (dd-mm-yyyy)"
            required
          />
        </div>
        <div>
          <label for="genero">Gender:</label>
          <select id="genero" name="genero" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Non binary">Non binary</option>
            <option value="I prefer not to say">I prefer not to say</option>
          </select>
        </div>
        <div>
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            title="Write the correct format"
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
            placeholder="example@gmail.com"
            required
          />
        </div>
        <div>
          <label for="celular">Phone:</label>
          <input
            type="text"
            id="celular"
            name="celular"
            pattern="^[0-9]{10}$"
            title="Must be 10 numbers"
            placeholder="Phone"
            required
          />
        </div>
        <div>
          <label for="foto">Photo:</label>
          <input type="file" id="foto" name="foto" accept="image/*" required />
        </div>
        <div class="botones_modificar">
          <div id="crear_limpiar">
            <button type="submit">Create</button>
            <button type="submit" id="limpiar">Clear data</button>
          </div>
          <div>
            <img
              id="imgUser"
              src="../img/placefolder-photo.jpg"
              alt="Foto de la Persona"
            />
          </div>
        </div>
      </form>
    </div>
    <script src="../crear.js" defer></script>
  </body>
</html>
