<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modify Person Data</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <a href="../../index.html">
          <img src="../img/logoprueba.png" alt="DataHub Logo" />
        </a>
      </div>
      <ul>
        <li><a href="crear_persona.html">Create Person</a></li>
        <li><a href="editar_persona.html">Modify Person Data</a></li>
        <li><a href="consultar_persona.html">Consult Person Data</a></li>
        <li><a href="borrar_persona.html">Delete Person</a></li>
        <li><a href="log_persona.html">Consult Log</a></li>
      </ul>
    </div>
    <div class="container">
      <h1>Modify Person Data</h1>
      <form id="buscarPersonaForm">
        <div>
          <label for="searchNumeroDocumento">Document number:</label>
          <input
            type="text"
            id="searchNumeroDocumento1"
            name="searchNumeroDocumento"
            maxlength="10"
            minlength="1"
            pattern="^[0-9]{1,10}$"
            placeholder="Document number"
            required
          />
        </div>
        <button type="button" id="buscarButton">Search</button>
      </form>
      <form id="actualizarPersonaForm">
        <div>
          <label for="tipoDocumento">Document type:</label>
          <select id="tipoDocumento1" name="tipoDocumento" >
            <option value=""></option>
            <option value="Tarjeta de identidad">Identity Card</option>
            <option value="Cedula">Cedula</option>
          </select>
        </div>
        <div>
          <label for="primerNombre">First name:</label>
          <input
            type="text"
            id="primerNombre1"
            name="primerNombre"
            pattern="^[A-Za-zñÑ][A-Za-zñÑ\s]{0,29}$"
            title="Máx 30 characters"
            maxlength="30"
            minlength="1"
            placeholder="First name"
          />
        </div>
        <div>
          <label for="segundoNombre">Second name:</label>
          <input
            type="text"
            id="segundoNombre1"
            name="segundoNombre"
            pattern="^[A-Za-zñÑ][A-Za-zñÑ\s]{0,29}$"
            title="Máx 30 characters"
            maxlength="30"
            minlength="1"
            placeholder="Second name (optional)"
          />
        </div>
        <div>
          <label for="apellidos">Last name:</label>
          <input
            type="text"
            id="apellidos1"
            name="apellidos"
            maxlength="60"
            minlength="1"
            pattern="^[A-Za-zñÑ][A-Za-zñÑ\s]{0,59}$"
            title="Máx 60 characters"
            placeholder="Last name"
            
          />
        </div>
        <div>
          <label for="fechaNacimiento">Birth date:</label>
          <input
          type="date"
          id="datepicker"
          name="fechaNacimiento"
          placeholder="Select or write a date (dd-mm-yyyy)"
          
        />
        </div>
        <div>
          <label for="genero">Gender:</label>
          <select id="genero1" name="genero" >
            <option value=""></option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Non binary">Non binary</option>
            <option value="I prefer not to say">I prefer not to say</option>
          </select>
        </div>
        <div>
          <label for="email">Email:</label>
          <input
            type="email"
            id="email1"
            name="email1"
            title="Complete the email with the proper format"
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
            placeholder="example@gmail.com"
            
          />
        </div>
        <div>
          <label for="celular">Phone:</label>
          <input
            type="text"
            id="celular1"
            name="celular"
            minlength="10"
            pattern="^[0-9]{10}$"
            title="Must be 10 numbers"
            placeholder="Phone"
            
          />
        </div>
        <div>
          <label for="foto">Photo:</label>
          <input type="file" id="foto1" name="foto" accept="image/*" />
        </div>
        <div class="botones_modificar">
          <div id="crear_limpiar">
            <button type="submit">Update</button>
            <button type="submit" id="limpiar">Clear data</button>
          </div>
          <div>
            <img
              id="imgUser"
              src="../img/placefolder-photo.jpg"
              alt="Foto de la Persona"
            />
          </div>
      </form>
    </div>
    <script src="../editar.js"></script>
  </body>
</html>
