<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consult Log</title>
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>
  <body>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          flatpickr("#datepicker", {
              dateFormat: "d-m-Y",
              allowInput: true,
              maxDate: "today" // Establecer la fecha máxima en hoy

          });
      });
  </script>
    <div class="navbar">
      <div class="logo">
        <a href="../../index.html">
          <img src="../img/logoprueba.png" alt="DataHub Logo" />
        </a>
      </div>
      <ul>
        <li><a href="crear_persona.html">Create Person</a></li>
        <li><a href="editar_persona.html">Modify Person Data</a></li>
        <li><a href="consultar_persona.html">Consult Person Data</a></li>
        <li><a href="borrar_persona.html">Delete Person</a></li>
        <li><a href="log_persona.html">Consult Log</a></li>
      </ul>
    </div>
    <div class="container">
      <h1>Consult Log</h1>
      <form id="buscarLogForm">
        <div>
          <label for="searchNumeroDocumento">Document number:</label>
          <input
            type="text"
            id="searchNumeroDocumento"
            name="searchNumeroDocumento"
            maxlength="10"
            pattern="^[0-9]{1,10}$"
            placeholder="Document number"
          />
        </div>
        <div>
          <label for="searchFecha">Date:</label>
          <input
            type="date"
            id="datepicker"
            name="searchFecha"
            placeholder="Select or write a date (dd-mm-yyyy)"
            required
          />
        </div>
        <div>
          <label for="tipoAccion">Action type:</label>
          <select id="tipoAccion" name="tipoAccion" required>
            <option value="">None selected</option>
            <option value="create user">Create user</option>
            <option value="read user">Read user</option>
            <option value="update user">Update user</option>
            <option value="delete user">Delete user</option>
          </select>
        </div>
        <button id="buscar_log" type="button" onclick="fetchLogData()">
          Search
        </button>
      </form>
      <div id="logResults"></div>
    </div>
    <script src="../consultar_log.js"></script>
  </body>
</html>
